<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Timothy-P's Ollama UI - 404; Page not found</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>
        404: Page not found
    </h1>
    <div style="display: flex; justify-content: center;">
        <p style="display: block;">
            You have found a non-existent page. <br><br>
            Are you sure the URL is correct? <br><br>

            If it is, <a href="https://github.com/Timothy-P/Ollama-UI/issues/new/choose">make an issue</a> on the repo and I'll fix it.

        </p>
    </div>
</body>
</html>