<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Timothy-P's Ollama UI - Credits</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Credits</h1>
    <div style="display: flex; justify-content: center;">
        <p style="display: block;">
            As you might expect, I would never have done this by myself.<br><br>

            I've had to (against what I want to) use work from other developers.<br><br>

            I don't want this to come off negative, as they do greta work.<br><br>

            However, my goal with the projects is to make everything from scratch.<br><br>

            But, credit is due, and here it is:<br><br>

            <a href="https://github.com/showdownjs/showdown" target="_new">Showdown</a> for markdown styling<br><br>

            <a href="https://github.com/cure53/DOMPurify" target="_new">DOMPurify</a> for ensuring security<br><br>

            <a href="https://github.com/pallets/flask">Flask</a> for making this possible<br><br>

            <a href="https://github.com/ollama/ollama">Ollama</a> for the AI part of this (and the very nice Python module)<br><br>

            Go show them support, as even though they are much larger than me, they still deserve to be named.
        </p>
    </div>
</body>
</html>